{% if config.theme.icon %}
{% if config.theme.icon.startswith("http") %}
<img class="size-5" src="{{ config.theme.icon }}">
{% elif config.theme.icon == "logo.svg" %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-5">
  <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9-9 9-9-1.8-9-9 1.8-9 9-9"></path>
</svg>
{% else %}
{{ config.theme.icon | iconify }}
{% endif %}
{% else %}
{% with override_class="size-5" %}
{% include "icons/shadcn.svg" %}
{% endwith %}
{% endif %}
